<% content_for :meta do %>
  <meta property="og:title" content="ArtificialGallery" />
  <meta property="og:type" content=" website" />
  <meta property="og:url" content="https://artificial-gallery.herokuapp.com" />
  <meta property="og:image" content="https://artificial-gallery.herokuapp.com/logos/top-logo.png" />
  <meta name="twitter:card" content="summary_large_image" />
<% end %>

<% content_for :cover do %>
  <div class="cover text-center">
    <div class="index-title-box">
    <p class="index-title"><span class="red">A</span>RT<span class="red">I</span>FICIAL</p>
    <p class="index-title">GALLERY</p>
    </div>
    <% if logged_in? %>
      <%= link_to new_image_path do %>
        <button type="button" class="btn btn-default btn-lg">
          画像を投稿する
        </button>
      <% end %>
    <% else %>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="text-center">
          <div>
            <%= link_to signup_path do %>
              <button type="button" class="btn btn-default btn-default index-button">
                メールアドレスで登録
              </button>
            <% end %>
          </div>
          <%= link_to '/auth/twitter', class: "btn btn-social btn-twitter" do %>
            <span class="fa fa-twitter"></span> Twitterで登録
          <% end %>
          <%= link_to '/auth/facebook', class: "btn btn-social btn-facebook" do %>
            <span class="fa fa-facebook"></span> Facebookで登録
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
<% unless logged_in? %>
  <div class="text-center">
    <h1 class="toppage-h1">画像認識AIで遊ぼう</h1>
    <p>最新AI技術のDeeplearningによる画像解析を誰でも気軽に試せるサービスです。</p>
    <p>面白い解析結果が出たらSNSでシェアしてみましょう！</p>
  </div>
  <div class="space"></div>
<% end %>
<h2 class="text-center">
  最近の投稿
</h2>
<%= render "images/images", images: @image.page(params[:page]).per(5) %>