<div class="text-center">
  <h2>#<%= @tag.word %></h2>
  <h2><%= @tag.images.count %>件の画像</h2>
</div>

<% @ranking_counts = Description.ranking %>
<% @ranking_tags = Tag.find(@ranking_counts.keys) %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">よくつけられているタグ</h3>
  </div>
  <div class="panel-body">
    <% @ranking_tags.each do |tag| %>
      <%= link_to tag do %>
      <button type="button" class="btn btn-default btn-xs btn-tag">
        #<%= tag.word %>(<%= @ranking_counts[tag.id] %>)
      </button>
      <% end %>
    <% end %>  
  </div>
</div>
<%= render "images/images", images: @tag.images.page(params[:page]).per(4)  %>
