<% if images.present? %>
<div class="row">
  <% images.each do |i| %>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="image">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
             <h3><%= i.caption.text %> <span class="badge">自信：<%= i.caption.confidence.to_s + "%" %></span></h3>
          </div>
          <div class="panel-body text-center">
            <%= link_to i do %> 
              <%= image_tag i.image.url %>
            <% end %>
          </div>
          <div class="panel-footer">
           <ul>
            <% i.tags.each do |tag| %>
              <%= link_to tag do %> 
                <button type="button" class="btn btn-default btn-xs btn-tag">
                  <%= "#" + tag.word %>
                </button>
              <% end %>
            <% end %>
           </ul>
          <% if i.user != nil && i.user == current_user %> <!--本番環境では i.user != nil不要-->
            <div class="text-center">
              <%= link_to "画像を削除", i, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
<div class="text-center">
  <%= paginate images %>
</div>
