<div class="text-center">
  <h class="new-image-title">新規投稿</h>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="how-to-use">
      <p>＜＜使用方法＞＞</p>
      <ol>
        <li>画像を選びます</li>
        <li>言語を選択し、ボタンを押します</li>
        <li>「投稿」ボタンを押すと、選択した言語でAIが「画像の説明」と「#タグ」を付けて画像を投稿します（投稿は削除できます）</li>
        <li>SNSで投稿をシェアしたり、#タグや右上のメニューから他の人の投稿を見てみよう！</li>
      </ol>
    </div>
      <p>＜＜注意事項＞＞</p>
      <ul>
        <li>画像解析には時間がかかることがあります</li>
        <li>個人情報を含む画像は投稿しないでください</li>
        <li>投稿可能な形式はJPEG, PNG, GIF, BMPです</li>
        <li>公序良俗に反する投稿は禁止です</li>
        <li>残念ながら、絵の解析はうまくできません</li>
        <li>英語のほうが日本語より解析精度が高いです</li>
      </ul>
    <div class="col-md-6 col-md-offset-3">
      <br>
      <%= form_for(@image) do |f| %>
        <%= f.file_field :image %>
        <br>
        <div class="form-group">
          <%= f.label :language, '解析する言語を選択' %>
          <%= f.select :language, [["英語", "en"], ["日本語", "ja"]] , {},  {class: "form-control"} %>
        </div>
        <div class="text-center">
          <%= f.submit "投稿", class: "btn btn-primary btn-lg btn-block" %>
        </div>
        <div class="space"></div>
      <% end %>
    </div>
  </div>  
</div>
