<div>
 <h1><%= @image.caption.text %> <span class="badge">自信：<%= @image.caption.confidence.to_s + "%" %></span></h1>
</div>

<div>
  <%= image_tag @image.image.url if @image.image? %>
</div>

<div>
  <%= link_to "画像を削除", @image, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-lg" %>
</div>

<div>
  <h2>タグ</h2>
  <ul>
    <% @image.tags.each do |tag| %>
      <%= link_to tag do %> 
      <button type="button" class="btn btn-default">
      <%= "#" + tag.word %>
      </button>
      <% end %>
    <% end %>
  </ul>
</div>
<p>解析結果をTwitterでシェアしよう！</p>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="AIで画像分析してみたよ！　" data-hashtags="artificialgallery" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div>
  <%= link_to "解析ページへ戻る", root_path %>
</div>
