<div>
 <h1><%= @image.caption.text %> <span class="badge"><%= @image.caption.confidence.to_s + "%" %></span></h1>
</div>

<div>
  <%= image_tag @image.image.url if @image.image? %>
</div>

<div>
  <h2>タグ</h2>
  <ul>
    <% @image.tags.each do |tag| %>
      <li><%= link_to tag do %> 
      <%= "#" + tag.word %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "解析ページへ戻る", root_path %>
</div>
