<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="image">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
           <h3><%= @image.caption.text %> <span class="badge">自信：<%= @image.caption.confidence.to_s + "%" %></span></h3>
        </div>
        <div class="panel-body text-center">
          <%= image_tag @image.image.url %>
        </div>
        <div class="panel-footer">
         <ul>
          <% @image.tags.each do |tag| %>
            <%= link_to tag do %> 
            <button type="button" class="btn btn-default btn-xs btn-tag">
            <%= "#" + tag.word %>
            </button>
            <% end %>
          <% end %>
         </ul>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p>↑↑#タグをクリックして同じタグが付いた写真を検索</p>
      <div class="space"></div>
      <div class="panel panel-default panel-body">
        <p>解析結果をSNSでシェアしよう！</p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="AIで画像分析してみたよ！　" data-hashtags="artificial-gallery" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fartificial-gallery.herokuapp.com%2Fimages%2F<%= params[:id] %>&layout=button_count&size=large&mobile_iframe=false&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="space"></div>
      <%= link_to "画像を削除", @image, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      <div class="space"></div>
    </div>

  </div>
</div>
