<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv"X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ArtificialGallery</title>
    <%= csrf_meta_tags %>

    <!-- Font Awesome for twitter facebook icon -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Bootstrap JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!--For OGP-->
    
    <meta property="og:type" content=" website" />
    <meta property="og:url" content="https://artificial-gallery.herokuapp.com" />
    <meta property="og:image" content="https://artificial-gallery.herokuapp.com/logos/top-logo.png" />
    <meta property="og:site_name" content="ArtificialGallery" />
    <meta property="og:description" content="最新AI技術のDeeplearnigによる画像解析を、誰でも気軽に試せるサービス" />
    
    <!--  Facebook用設定 -->
    <meta property="fb:app_id" content="2188986558044546" />

    <!-- ※ Twitter共通設定 -->
    <meta name="twitter:card" content="summary" />
    
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="space"></div>
    <%= yield :cover %>
    <div class="space"></div>

    <div class="container">
      <%= render "layouts/flash_messages" %>
      
      <%= yield %>
      
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
